.header {
	border-bottom: 1px solid var(--header-border);
}

.header .container {
	display: flex;
}

.nav,
.nav__site,
.contact {
	display: flex;
	align-items: center;
}

@media (max-width: 767px) {
	.nav__site {
		display: none;
	}
	.nav {
		width: 100%;
		justify-content: space-between;
	}
}
