.principle {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 30px;
}

.principle__item {
	// flex-basis: calc((100% - (30px * (4 - 1))) / 4);

	@media screen and (min-width: 480px) {
		flex-basis: calc((100% - (30px * (1 - 1))) / 1);
	}

	@media screen and (min-width: 768px) {
		flex-basis: calc((100% - (30px * (2 - 1))) / 2);
	}

	@media screen and (min-width: 1200px) {
		flex-basis: calc((100% - (30px * (4 - 1))) / 4);
	}
}

.principle__icon {
	display: flex;
	height: 120px;
	background: var(--background-grey);
	border-radius: 4px;
	padding-block: 25px;
	margin-bottom: 30px;
	margin-inline: auto;
	width: 100%;

	@media screen and (min-width: 480px) and (max-width: 767px) {
		width: 450px;
	}
}

.principle__text {
	line-height: 1.71;
	color: var(--text-color);
	letter-spacing: 0.03em;

	margin-inline: auto;
	width: 100%;

	@media screen and (min-width: 480px) and (max-width: 767px) {
		width: 450px;
	}
}
